<footer>
  <nav class="navbar fixed-bottom navbar-dark bg-dark">
    <h1 class="display-6 navbar-text">&copy;2023 All rights reserved</h1>
    <!-- <div class="container-fluid">
          <a class="navbar-brand" href="#">Fixed bottom</a>
        </div> -->
  </nav>
</footer>
