<%-include partials/header.ejs%> <%-include partials/main_nav.ejs%>
<!-- Main Nav Navigation -->

<main class="container">
  <div
    class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light"
  >
    <div class="mx-auto my-5">
      <h1 class="fw-normal">These are my projects</h1>
    </div>

    <!-- Card List of Projects -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card">
          <figure class="figure">
            <img
              src="Assets/images/projects/portal_data_test.jpg"
              class="card-img-top figure-img img-fluid rounded"
              alt="Data report illustration concept"
            />
            <figcaption class="figure-caption">
              <a
                href="https://www.freepik.com/free-vector/data-report-illustration-concept_6195527.htm#query=data&position=2&from_view=search&track=sph"
                >Image by storyset</a
              >
              on Freepik
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Data Test Portal</h5>
            <p class="card-text">
              When I used to work with automation test I proactively decided to
              implement an portal of data test management. This used to be an
              important issue because the process was done manually and only few
              people knew how to do this what cause bottleneck in the automation
              process. With the portal the user was able to create the data and
              use in the tests without need external help. The process also
              could be triggered automatically. This made the automation cycle
              to run smoothly.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <figure class="figure">
            <img
              src="Assets/images/projects/subway_map.jpg"
              class="card-img-top figure-img img-fluid rounded"
              alt="Metro, subway map illustration."
            />
            <figcaption class="figure-caption">
              <a
                href="https://www.freepik.com/free-vector/metro-subway-map-illustration_13153632.htm#page=2&query=subway%20map&position=11&from_view=search&track=sph"
                >Image by macrovector</a
              >
              on Freepik
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">Subway Map</h5>
            <p class="card-text">
              I was the main developer in this project. I participate in the
              conceptualization and implementation. The first step in this
              project and most challenge was to collect the transaction data as
              it comes from different points in different systems. For that I
              created a subsystem that would run periodically collecting the
              information and normalizing to our database. After, I developed
              the portal wit this idea of a subway map. The idea was to show all
              the points of the transaction flow and show errors and alarms if
              something wrong.
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <figure class="figure">
            <img
              src="Assets/images/projects/selenium_automation.jpg"
              class="card-img-top figure-img img-fluid rounded"
              alt="Image robot automation tasks."
            />
            <figcaption class="figure-caption">
              <a
                href="https://www.freepik.com/free-vector/online-business-development-gradual-growth-positive-tendency-gain-indicator-statistics-chart-diagram_10783792.htm#query=selenium%20automation&position=48&from_view=search&track=ais"
                >Image by vectorjuice</a
              >
              on Freepik
            </figcaption>
          </figure>
          <div class="card-body">
            <h5 class="card-title">TestRigor</h5>
            <p class="card-text">
              TestRigor is an application that performs multiplatform automated
              test with plain English. I was able to work in many different
              features. Most of them working with Selenium/Appium libraries. I
              also was able to implement different integrations with external
              providers. I also developed a JIRA plugin for them so this can be
              installed for the user and trigger the execution in simple steps.
              This last one had good impact on the company marketing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<%-include partials/bottom_nav.ejs%> <%-include partials/footer.ejs%>
