/* Custom css goes here */

/* Logo styles*/
.logo {
  width: 64px;
  height: 64px;
}

i {
  margin-left: 5px;
  margin-right: 5px;
}

/* Alignment about me icons */
.about-me-icon {
  margin-bottom: 1rem;
}

/* Add extra margin bottom to be higher than footer*/
.container {
  margin-bottom: 100px;
}

/* Fix card height */
.card {
  height: 100% !important;
}
